@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,900;1,900&display=swap');


#tsparticles {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #0d47a1;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}


/*ALL WRAPPERS*/
.wrapper {
 	display: block;
	position:absolute;
    justify-content: center;
    align-items: center;
	overflow:hidden;
	backdrop-filter: blur(25px);
	box-shadow: 0 0 14px black;
  }


.wrapper.profile {
	padding: 0.5em;
	width: auto;
	left: 35%;
	top: 60%;

}

.wrapper.profile.profilesecond {
	left:50%;
}


.wrapper.leaderb {
    width: 28%;
	top: 14%;
	left: 34%;
}
.wrapper.wb {
	width: auto;
	top: 20%;
    left: 33%;
	padding: 2%;
}
.wrapper.login {
    top: 10%;
	width:18%;
	left:40%;
}


/*LOGIN/REGISTERBOX*/
.wrapper#register {
	transition:transform .18s ease;
	transform: translateX(0);
}

/*
form {
position: absolute;
    width: 50%;	
}
*/

/*AJAX RESPONSE*/
#prem1 {
	 position: relative;
	display: inline-block;
	width: 100px;
	height: 100px;
    top: 3.5%;
	background-image: url("../images/leaderboard/verified.png");
	font-size: 0;
	background-size: 50%;
    background-repeat: no-repeat;
    background-position: 55% 42%;
}

#advanced1 {
	 position: relative;
	display: inline-block;
	width: 100px;
	height: 100px;
    top: 3.5%;
	background-image: url("../images/leaderboard/advanced.png");
	font-size: 0;
	background-size: 50%;
    background-repeat: no-repeat;
    background-position: 55% 42%;
}
#staff1 {
	 position: relative;
	display: inline-block;
	width: 100px;
	height: 100px;
    top: 3.5%;
	background-image: url("../images/leaderboard/staff.png");
	font-size: 0;
	background-size: 50%;
    background-repeat: no-repeat;
    background-position: 55% 42%;
}

/*LOGIN REGISTER BUTTON*/
#loginbutton, #registerbutton, #upload, #uploadchoose, #delete {
	display:none;
}
.cta {
  display: flex;
  padding: 11px 33px;
  text-decoration: none;
  font-size: 25px;
  color: white;
background-image: url(../images/background/bg.jpg);
    background-repeat: no-repeat;
    background-position: 11%;
  transition: 1s;
  box-shadow: 6px 6px 0 black;
  transform: skewX(-15deg);
  border: none;
}

.cta.profile {
	    position: relative;
    bottom: 16em;
    left: 63em;
	width:10%;
	font-size: 17px;
	margin-top: 1.5%;
}

.cta:focus {
  outline: none;
}

.cta:hover {
  transition: 0.5s;
  box-shadow: 10px 10px 0 #FBC638;
}

.cta .second {
  transition: 0.5s;
  margin-right: 0px;
}

.cta:hover  .second {
  transition: 0.5s;
  margin-right: 45px;
}

.span {
  transform: skewX(15deg)
}

.second {
  width: 20px;
  margin-left: 30px;
  position: relative;
  top: 12%;
}

.one {
  transition: 0.4s;
  transform: translateX(-60%);
}

.two {
  transition: 0.5s;
  transform: translateX(-30%);
}

.cta:hover .three {
  animation: color_anim 1s infinite 0.2s;
}

.cta:hover .one {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.6s;
}

.cta:hover .two {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.4s;
}

@keyframes color_anim {
  0% {
    fill: white;
  }

  50% {
    fill: #FBC638;
  }

  100% {
    fill: white;
  }
}


/*LOADING DIV STYLES*/
#loading {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  opacity: 0.7;
  z-index: 99;
 backdrop-filter: blur(40px);
}

#loading-image {
  position: absolute;
  top: 100px;
  left: 240px;
  z-index: 100;
}
@keyframes square-animation {
 0% {
  left: 0;
  top: 0;
 }

 10.5% {
  left: 0;
  top: 0;
 }

 12.5% {
  left: 32px;
  top: 0;
 }

 23% {
  left: 32px;
  top: 0;
 }

 25% {
  left: 64px;
  top: 0;
 }

 35.5% {
  left: 64px;
  top: 0;
 }

 37.5% {
  left: 64px;
  top: 32px;
 }

 48% {
  left: 64px;
  top: 32px;
 }

 50% {
  left: 32px;
  top: 32px;
 }

 60.5% {
  left: 32px;
  top: 32px;
 }

 62.5% {
  left: 32px;
  top: 64px;
 }

 73% {
  left: 32px;
  top: 64px;
 }

 75% {
  left: 0;
  top: 64px;
 }

 85.5% {
  left: 0;
  top: 64px;
 }

 87.5% {
  left: 0;
  top: 32px;
 }

 98% {
  left: 0;
  top: 32px;
 }

 100% {
  left: 0;
  top: 0;
 }
}

#loader {
 position: relative;
 width: 96px;
 height: 96px;
 transform: rotate(45deg);
    top: 42%;
    left: 45.5%;
}

.loader-square {
 position: absolute;
 top: 0;
 left: 0;
 width: 28px;
 height: 28px;
 margin: 2px;
 border-radius: 0px;
 background: white;
 background-size: cover;
 background-position: center;
 background-attachment: fixed;
 animation: square-animation 10s ease-in-out infinite both;
}

.loader-square:nth-of-type(0) {
 animation-delay: 0s;
}

.loader-square:nth-of-type(1) {
 animation-delay: -1.4285714286s;
}

.loader-square:nth-of-type(2) {
 animation-delay: -2.8571428571s;
}

.loader-square:nth-of-type(3) {
 animation-delay: -4.2857142857s;
}

.loader-square:nth-of-type(4) {
 animation-delay: -5.7142857143s;
}

.loader-square:nth-of-type(5) {
 animation-delay: -7.1428571429s;
}

.loader-square:nth-of-type(6) {
 animation-delay: -8.5714285714s;
}

.loader-square:nth-of-type(7) {
 animation-delay: -10s;
}



/*LEADERBOARD: STYLES*/

/*LEADERBOARD: TABLE*/
#leaderboard {
	min-width: 400px;
	border-collapse: collapse;
	color:white;
	margin-left:8%;
	font-size:x-large;
}

#leaderboard th {
	padding: 50px 0px;
}

#leaderboard td{
	/*border:1px solid;*/
	padding: 30px 55px;
}

/*LEADERBOARD: STYLING LEADBOARD TDs 1-10 */
#rank1, #rank2, #rank3 {
	font-size: 0;
	background-size: 50%;
    background-repeat: no-repeat;
    background-position: 55% 42%;
}
#rank1 {
	background-image: url("../images/leaderboard/first.png");

}
#rank2 {
	background-image: url("../images/leaderboard/second.png");
}
#rank3 {
	background-image: url("../images/leaderboard/third.png");
}
#display1, #display2, #display3 {
	
}

#exp1, #exp2, #exp3, #exp4, #exp5, #exp6, #exp7, #exp8, #exp9, #exp10 {
text-align:center;
}
#display1, #display2, #display3, #display4, #display5, #display6, #display7, #display8, #display9, #display10 {
text-align:center;
}
#rank4, #rank5, #rank6, #rank7, #rank8, #rank9, #rank10 {
text-align:center;
}


/*PROFILE: AVATAR CIRCLE*/
:root {
  --border: 20px;
  --color1: purple;
  --color2: #0076a5;
  --from: 17deg;
  --distance: 57%;
  --primary-color: transparent;
  --second-color: #ffffff;
  --black-color: #00000;
}
/*USERPIC?*/
#useravatar {
	position: relative;
	    left: 42%;
	    border-radius: 999px;
    display: block;
    width: calc(100vw - 80px);
    max-width: 10%;
    height: auto;
}
#rankingavatar {
	    border-radius: 999px;
    width: calc(100vw - 80px);
    max-width: 5%;
    height: auto;
}
#wrap {
  position: relative;
  padding: 30px;
}
#wrap::after {
  content: '';
  border-radius: 999px;
  display: block;
  position: absolute;
	top: 0.001em;
    left: 40.5%;
    height: 100%;
    width: 13%;
  background: conic-gradient(
    from var(--from),
    var(--color1),
    var(--color2) var(--distance),
    transparent var(--distance)
  );
  -webkit-mask: radial-gradient(
    farthest-side,
    transparent calc(93% - var(--border)),
    #fff calc(97% - var(--border) + 1px)
  );
  mask: radial-gradient(
    farthest-side,
    transparent calc(93% - var(--border)),
    #fff calc(97% - var(--border) + 1px)
  );
}
/*PROFILE: WHOLE GALLERY - DONT KNOW WHY PLACED HERE*/

.gallery {
	position: relative;
    top: 11%;	
}

/*PROFILE: USER DISPLAY NAME*/
#userdisplay {
	font-size: 4em;
	position:relative;
    bottom: 17%;
    left: 42.5%;
	color:white;
  	animation-name:glow;
  	animation-duration:1s;
 	animation-iteration-count:infinite;
  	animation-direction:alternate;
}

@keyframes glow{
  from{text-shadow:0px 0px 5px #fff,0px 0px 5px #614ad3;}
  to{text-shadow:0px 0px 20px #fff,0px 0px 20px #614ad3;}
}

/*MENU*/
nav{
  position: fixed;
  z-index: 99;
  width: 100%;
  background: #242526;
}
nav .navwrapper{
  position: relative;
  max-width: 1300px;
  padding: 0px 30px;
  height: 70px;
  line-height: 70px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navwrapper .logo a{
  color: #f2f2f2;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}
.navwrapper .nav-links{
  display: inline-flex;
}
.nav-links li{
  list-style: none;
}
.nav-links li a{
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 9px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.nav-links li a:hover{
  background: #3A3B3C;
}
.nav-links .mobile-item{
  display: none;
}

@media screen and (max-width: 970px) {
  .navwrapper .nav-links{
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 350px;
    top: 0;
    left: -100%;
    background: #242526;
    display: block;
    padding: 50px 10px;
    line-height: 50px;
    overflow-y: auto;
    box-shadow: 0px 15px 15px rgba(0,0,0,0.18);
    transition: all 0.3s ease;
  }
  .nav-links li{
    margin: 15px 10px;
  }
  .nav-links li a{
    padding: 0 20px;
    display: block;
    font-size: 20px;
  }
  .nav-links .drop-menu{
    position: static;
    opacity: 1;
    top: 65px;
    visibility: visible;
    padding-left: 20px;
    width: 100%;
    max-height: 0px;
    overflow: hidden;
    box-shadow: none;
    transition: all 0.3s ease;
  }
  .nav-links .desktop-item{
    display: none;
  }
  .nav-links .mobile-item{
    display: block;
    color: #f2f2f2;
    font-size: 20px;
    font-weight: 500;
    padding-left: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  .nav-links .mobile-item:hover{
    background: #3A3B3C;
  }
}
/*PROFILE AND PICTURE?*/
.upload {
position:relative;
bottom: 12em;
    left: 60%;
}


.wrapper.profile tr {
font-size:1em;
}
.wrapper.profile td {
padding:15px;
	color:white;
}


/*HOME*/
#wb {
	font-size:3em;
	color:white;
}


/*LOHO*/
#logo {
width: 20%;
    position: relative;
    top: 5em;
    left: 38%;
}

  /*BODY AND WRAPPER STYLES*/
  body {
    background-image: url("../images/background/bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
	margin:0;
	  font-family:'Poppins';
	  font-size:normal;
  }
  
  a {
    text-decoration: none;
    color: var(--second-color);
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  

#login {
	position:absolute;
	transition:none;
	transform:translateX(400px);
}

.wrapper.active #login {
	transition:transform .18s ease;
	transform: translateX(0);
}
.wrapper.active #register {
	transition:none;
	transform:translateX(-400px);
}




  
  .login_box {
    position: relative;
   border: 2px solid var(--primary-color);
    border-radius: 15px;
    padding: 7.5em 2.5em 4em 2.5em;
    color: var(--second-color);
	 transition: transform .18s ease;
	  transform: translateX(0);
  }


  
  .input_box {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
  }
  
  .input-field {
    width: 100%;
    height: 55px;
    font-size: 16px;
    background: transparent;
    color: var(--second-color);
    padding-inline: 20px 50px;
	box-shadow: 0 0 14px black;
    outline: none;
  }
  
  .label {
    position: absolute;
    top: 15px;
    left: 20px;
    transition: 0.2s;
  }
  
  .input-field:focus ~ .label,
  .input-field:valid ~ .label {
    position: absolute;
    top: -20%;
    left: 30%;
    font-size: 14px;
    background-color: var(--primary-color);
    border-radius: 30px;
    color: var(--black-color);
    padding: 0 10px;
	      transition: 0.2s;
  } 
/* Closed the missing brace */
  
  .icon {
    position: absolute;
    top: 18px;
    right: 25px;
    font-size: 20px;
  }
  
  .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
  }
  
  .input-submit {
    width: 100%;
    height: 50px;
    background: #ececec;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .input-submit:hover {
    background: var(--second-color);
  }
  
  .register {
    text-align: center;
  }
  
  .register a {
    font-weight: 500;
  }
  
  @media only screen and (max-width: 564px) {
    .wrapper {
      padding: 20px;
    }
 /*LOGIN BOX + LOGIN BOX ANIMATIONS*/
    .login_box {
      padding: 7.5em 1.5em 4em 1.5em;
    }
  }
 
.sp{
	position: absolute;
	transition: 0.5s; 
}
.sp-t{
	top: 0;
	right: 0;
	width: 200px;
	height: 2px;
	background:linear-gradient( to left , transparent,#57AAB4,#57AAB4);
	animation: anim2 2s linear infinite;
	transform: translateY(-300%);
	animation-delay: 0.8s;
}
.sp-r{
	bottom: 0;
	right: 0;
	width: 2px;
	height: 200px;
	background:linear-gradient( to top , transparent,#57AAB4 ,#57AAB4);
	animation: anim1 2s linear infinite;
	animation-delay: 0s;
}
.sp-b{
	right: 0;
	bottom: 0;
	width: 200px;
	height: 2px;
	background:linear-gradient( to left , transparent,#57AAB4,#57AAB4);
	animation: anim2 2s linear infinite;
}
.sp-l{
	left: 0;
	top:0;
	width: 2px;
	height: 200px;
	background:linear-gradient( to top , transparent,#57AAB4,#57AAB4);
	animation: anim1 2s linear infinite;
	animation-delay: 1s;
	transform: translateX(-300%);
}
@keyframes anim1 {
    0%{
        transform: translateY(300%);
        
    }
    100%{
        transform: translateY(-300%);
        
    }
}
@keyframes anim2 {
    0%{
        transform: translateX(300%);
    }
    100%{
        transform: translateX(-300%);
        
    }
}


/*LOGOANIMATION*/

.hithere {
  animation: hithere 2s ease infinite;
}
@keyframes hithere {
  30% { transform: scale(1.2); }
  40%, 60% { transform: rotate(-20deg) scale(1.2); }
  50% { transform: rotate(20deg) scale(1.2); }
  70% { transform: rotate(0deg) scale(1.2); }
  100% { transform: scale(1); }
}